@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,700&display=swap');
.header{
  text-align: center;
  margin: auto;
  width: 70%;
}

.header__title{
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}